<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>文旅景区</title>
    <link rel="stylesheet" href="frontend/css/bootstrap.min.css" >

    <link rel='stylesheet' href='frontend/css/masterslider.css'      type='text/css'/>
    <link rel='stylesheet' href='frontend/css/ms-showcase2.css'      type='text/css'/>
    <link rel='stylesheet' href='frontend/css/masterslider.main.css' type='text/css'/>

    <link rel="stylesheet" href="frontend/css/style.css">
    <link rel="stylesheet" href="frontend/css/style2.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
	<style type="text/css">
			.hoverbox img{
				height: 330px;
				object-fit: cover;
			}
			.bigTopBox{
				height: 420px !important;
			}
	</style>
  <body>

<div id="app">
  <!-- header -->
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation" v-cloak>
 	<div class="navBox">
 		<div class="navbar-header page-scroll">
 			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true"
 			 aria-controls="navbar">
 				<span class="sr-only">Toggle navigation</span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 			</button>
 			<a class="navbar-brand" href="index.html">
 				<img :src="pageData?(baseUrl+siteInfo.logo):'frontend/img/logo.png'" alt="">
 				<p>全国咨询热线：<span>{{footer?footer.tel:'400-023-619'}}</span></p>
 			</a>
 		</div>
 		<div id="navbar" class="navbar-collapse collapse" aria-expanded="true" style="">
 			<ul class="nav navbar-nav navbar-right" >
 				<li :class="index==3?'active':''" @click="toPage(item.filename)"  v-for="(item,index) in menu " :key =" index"><a class="page-scroll" >{{item.name}} </a></li>
 			</ul>
 		
 		</div>
 	</div>
 </nav>


  <!--文旅景区-->
  <section class="container-fluid clearPadding martop of" v-cloak>
        
        <div class="ztTit mt60">文旅景区 <div></div></div>
        <div class="ztSamllTit">IP BANK</div>
        <div class="container clearPadding comBox pb_padding mobie_padding">
            <div class="row clearMargin" :class="index!=0 ?'mt60':''" v-for="(item,index) in industry" :key="index">
                  <div class="col-lg-12 col-md-3 col-sm-3 col-xs-12 clearPadding biaoti " >{{item.name}} <i></i></div>
                  <div class="col-lg-12 col-md-9 col-sm-9 col-xs-12 clearPadding" >
                        <div :class="item2.istop==1 ?'col-lg-12 col-md-12 col-sm-12 col-xs-12 clearPadding' :'col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding'"  v-for="(item2,index2) in item.list" :key="index2">
                            <div class="hoverbox" >
                                <a :href="'yfk.html?id='+item2.id">
                                    <img :class="item2.istop==1?'bigTopBox':''" :src="baseUrl+item2.ext_bigimg" alt="">
                                    <span class="text-center">{{item2.title}}</span>
                                </a>
                            </div>
                        </div>
                     <!--   <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox">
                                  <img src="frontend/img/a2.jpg" alt="">
                                  <span class="text-center">太空秘境</span>
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox">
                                  <img src="frontend/img/a3.jpg" alt="">
                                  <span class="text-center">故宫「金榜题名」</span>
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox">
                                  <img src="frontend/img/a4.jpg" alt="">
                                  <span class="text-center">F3（Fighting For Fight）</span>
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox">
                                  <img src="frontend/img/a5.jpg" alt="">
                                  <span class="text-center">捍国之疆</span>
                              </div>
                        </div> -->
                  </div>
            </div>
           <!-- <div class="row clearMargin mt60">
                  <div class="col-lg-12 col-md-3 col-sm-3 col-xs-12 clearPadding biaoti">景区夜游 <i></i></div>
                  <div class="col-lg-12 col-md-9 col-sm-9 col-xs-12 clearPadding">
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                            <div class="hoverbox mt0">
                                <img src="frontend/img/b1.jpg" alt="">
                                <span class="text-center">潮玩极竞 (Fast Fun)</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox mt0">
                                  <img src="frontend/img/b2.jpg" alt="">
                                  <span class="text-center">斯维妮</span>
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox">
                                  <img src="frontend/img/b3.jpg" alt="">
                                  <span class="text-center">深海奇境</span>
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6 clearPadding">
                              <div class="hoverbox">
                                  <img src="frontend/img/b4.jpg" alt="">
                                  <span class="text-center">生命科学</span>
                              </div>
                        </div>
                  </div>
            </div> -->
        </div>
  </section>
  <!--文旅景区-->


  <section class="keyWord container pb_padding mobie_padding of">
        <div class="clearPadding w100">
            <div class="row clearMargin">
                <div class="key">
                    <p>关键词：</p>
                    <span>互动投影   全息投影   AR互动   互动桌面   景区AR   文旅夜游   3D   墙体投影   全息   地面互动   灯光秀   投影融合   屏幕融合   会议融合</span>
                </div>
            </div>
        </div>
  </section>
  <!---->
  <section class="container-fluid clearPadding footer">
    <div class="container clearPadding footerBox">
      <div class="text-center footTit" >全国咨询热线</div>
      <div class="text-center footTell" >400-023-6199</div>
      <div class="text-center footEmail" >E-mail： AW@awchina.cn</div>
      <div class="row clearMargin">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footleft">
          <p class="text-right shanghai">上海公司</p>
          <p class="text-right">上海市普陀区岚皋路555号品尊国际中心A座25层</p>
          <p class="text-right">25F,Building A,Pin Zun Central Towers,No 555 Lan Gao Road,</p>
          <p class="text-right">PuTuo District, Shanghai</p>
          <p class="text-right qrcodebox"><img src="frontend/img/qrcode1.png" class="qrcode"></p>
          <p class="text-right qrcode1txt">扫描二维码</br>关注翼飞客智能科技</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footright">
          <p class="text-left beijing">北京公司</p>
          <p class="text-left">北京市朝阳区通惠河畔龙源文化创意大厦A座4层</p>
          <p class="text-left">Block A 4F of Longyuan Cultural Creative Building on Tonghui River, </p>
          <p class="text-left">Chaoyang District, Beijing</p>
          <p class="text-left qrcodebox"><img src="frontend/img/qrcode2.png" class="qrcode"></p>
          <p class="text-left qrcode2txt">扫描二维码</br>关注易景堂数字科技</p>
        </div>
      </div>
      <div class="mobileQrcode">
        <img src="frontend/img/qrcode1.png" style="margin-right: 15px;">
        <img src="frontend/img/qrcode2.png" style="margin-left: 15px;"></br>
        <p class="text-center" style="margin-right: 15px;">扫描二维码</br>关注翼飞客智能科技</p>
        <p class="text-center" style="margin-left: 15px;">扫描二维码</br>关注易景堂数字科技</p>
      </div>
    </div>
    <div class="blackTxt">Copyright © www.AWchina.cn 版权所有 上海易景棠数字科技有限公司 沪 ICP 备15026009号</div>
  </section>
</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.12.0-amd/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="frontend/js/modernizr-2.6.2.min.js"></script>
  <script type='text/javascript' src='frontend/js/masterslider.min.js'></script>
  <script type='text/javascript' src='frontend/js/jquery.easing.min.js'></script>

  <script type="text/javascript">

    function tabs(tabTit, on, tabCon) {
    			$(tabTit).children().click(function() {
    				$(this).addClass(on).siblings().removeClass(on);
    				var index = $(tabTit).children().index(this);
    				$(tabCon).children().eq(index).show().siblings().hide();
    			});
    		};
    		let myVue = new Vue({
    			el: '#app',
    			data() {
    				return {
    					title: '我的天',
    					showBaner: true,
    					pageData: null,
    					slider: [],
    					companyInfo: null,
    					menu: [],
    					domain: '',
    					footer: null,
    					siteInfo: null,
    					baseUrl: '',
    					industry: [],
    					DateStrList: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    					Detail: null,
    					chooseIndex: 0,
    					sliderSb: null
    				}
    			},
    			created() {
    				var ww = document.body.clientWidth;
    				if (ww <= 1200) {
    					this.showBaner = false
    				}
    				axios.post('http://awboot.dbassets.cn/api.php/Newtem/index').then(res => {
    					if (res.data.code == 1) {
    						console.log(res.data)
    						let data = res.data.data
    						this.baseUrl = data.site_info.domain
    						this.pageData = data
    						this.companyInfo = data.company_info
    						this.menu = data.menu
    						this.footer = data.footer
    						this.siteInfo = data.site_info
    					}
    				})
    				axios.post('http://awboot.dbassets.cn/api.php/list/8/num/9999').then(res => {
    					if (res.data.code == 1) {
    						console.log(res.data)
    						
    						
								let arr = _.groupBy(res.data.data,'sortname')
								let keys = Object.keys(arr)
								let newArr = [];
								for(let item of keys){
									newArr.push({
										name:item,
										list:arr[item],
									})
								}
								this.industry = newArr
								console.log(newArr)
    						setTimeout(() => {
    							this.reload(this.slider)
    						}, 500)
								tabs(".tab-hd", "tabHdActive", ".tab-bd");
    						// this.getDetail(this.industry[0].scode)
    					}
    				})
    
    
    
    			},
    			methods: {
						toPage(url){
							if(url=='toFooter'){
								this.scrollToFooter()
							}else{
								location.href = url+'.html'
							}
						},
						scrollToFooter(){
							$('html,body').animate({scrollTop:$('.footer').offset().top}, 500);
						},
    				changeIndex(index){
    					$('#masterslider').html('')
    					this.chooseIndex = index
    					this.Detail = this.industry[this.chooseIndex]
    					this.slider = []
    					this.slider = this.getBanner(this.industry[this.chooseIndex].pics)
    					this.reload(this.slider)
    					setTimeout(() => {
    						this.reload()
    					}, 1000)
    				},
    				getBanner(str) {
    					// console.log(str)
    					let arr = []
    					if (str) {
    						arr = str.split(',')
    						// console.log(str)
    					}
    
    					return arr
    				},
    				getDetail(id) {
    					this.mvList = []
    					axios.post('http://awboot.dbassets.cn/api.php/list/' + id+'/num/9999').then(res => {
    						if (res.data.code == 1) {
    							console.log(res.data)
    							this.Detail = res.data.data
    
    						}
    					})
    				},
    				getDate(date) {
    					// console.log(date)
    					let obj = null
    					if (date) {
    						let time = new Date(date)
    						obj = {}
    						obj.date = time.getDate() < 10 ? '0' + time.getDate() : time.getDate()
    						obj.str = this.DateStrList[time.getMonth()]
    					}
    					console.log(obj)
    					return obj
    				},
    				sipwer() {
    					this.pageData = 1
    				},
    				toUrl(url) {
    					if (url) {
    						location.href = url
    					}
    				},
    				reload(list) {
    					let listB = list
    					// console.log(listB)
    					let baseUrl = this.baseUrl
    					var sliderSb = new MasterSlider()
    					sliderSb.control('arrows');
    					sliderSb.control('scrollbar', {
    						dir: 'v'
    					});
    					sliderSb.control('thumblist', {
    						autohide: false,
    						dir: 'h',
    						arrows: true
    					});
    					for(let i in listB){                 //将数据先动态加载
    						// console.log(i,listB.length)
    								var strlist = '<div class="ms-slide">'+
    									          '<img src="images/loading-2.gif" data-src="'+baseUrl+listB[i]+'" alt="lorem ipsum dolor sit"/>'+ 
    											  '<img class="ms-thumb" src="'+baseUrl+listB[i]+'" alt="thumb" />'+ 
    											  '</div>';
    							$('#masterslider').append(strlist);
    								if(i==listB.length-1){
    											sliderSb.setup('masterslider', {
    												width: 600,
    												height: 500,
    												space: 3,
    												view:'basic'
    											});
    									}	
    								}
    					
    				}
    			}
    		})

   

  </script>

  </body>
</html>