<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>易飞客</title>
		<link rel="stylesheet" href="frontend/css/bootstrap.min.css">

		<link rel='stylesheet' href='frontend/css/masterslider.css' type='text/css' />
		<link rel='stylesheet' href='frontend/css/ms-showcase2.css' type='text/css' />
		<link rel='stylesheet' href='frontend/css/masterslider.main.css' type='text/css' />

		<link rel="stylesheet" href="frontend/css/style.css">
		<link rel="stylesheet" href="frontend/css/style2.css">
		<!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
	</head>
	<body>

		<div id="app">
			<!-- header -->
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" v-cloak>
				<div class="navBox">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true"
						 aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">
							<img :src="pageData?(baseUrl+siteInfo.logo):'frontend/img/logo.png'" alt="">
							<p>全国咨询热线：<span>{{footer?footer.tel:'400-023-619'}}</span></p>
						</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse" aria-expanded="true" style="">
						<ul class="nav navbar-nav navbar-right">
							<li class="" @click="toPage(item.filename)" v-for="(item,index) in menu " :key=" index"><a class="page-scroll">{{item.name}}
								</a></li>
						</ul>

					</div>
				</div>
			</nav>
			<!--易飞客-->
			<section class="container-fluid clearPadding martop of" v-cloak>
				<div class="ztTit mt60">{{Detail?Detail.sortname:''}}
					<div></div>
				</div>
				<div class="ztSamllTit">{{Detail?Detail.tags:''}}</div>
			</section>
			<!--易飞客-->
			<section class="container-fluid clearPadding" v-cloak>
				<div class="container clearPadding ">
					<div class="row clearMargin mt60">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 comcont" style="padding-right:0px !important;padding-left:0px !important;">
							<div class="col-lg-12 col-md-6 col-sm-6">
								<p class="colorBlue">{{Detail?Detail.title:''}}</p>
								<div class="spanbox" v-html="Detail?Detail.content:''"></div>
							</div>
							<div class="col-lg-12 col-md-6 col-sm-6" >
								<video v-if="Detail&&Detail.ext_wlmp4" :src="Detail?baseUrl+Detail.ext_wlmp4:''"controls="" autoplay="false" poster="frontend/img/v.jpg" class="videoWidth"></video>
							</div>
						</div>
						<div class="col-lg-1"></div>
						<div class="col-lg-6 col-md-12 col-sm-21 col-xs-12">
							<div class="maxWidth">
								<div class="ms-showcase2-template ms-dir-v">
									<div class="master-slider ms-skin-default" id="masterslider">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="keyWord container mt60 of">
				<div class="w100 clearPadding">
					<div class="row clearMargin">
						<div class="key">
							<p>关键词：</p>
							<span>互动投影 全息投影 AR互动 互动桌面 景区AR 文旅夜游 3D 墙体投影 全息 地面互动 灯光秀 投影融合 屏幕融合 会议融合</span>
						</div>
					</div>
				</div>
			</section>

			<!---->
			<section class="container-fluid clearPadding footer" v-cloak>
				<div class="container clearPadding footerBox">
					<div class="text-center footTit">全国咨询热线</div>
					<div class="text-center footTell">{{footer?footer.tel:''}}</div>
					<div class="text-center footEmail">E-mail： {{footer?footer.mail:''}}</div>
					<div class="row clearMargin">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footleft">
							<p class="text-right shanghai">上海公司</p>
							<p class="text-right">{{footer?footer.mali:''}}</p>
							<p class="text-right">{{footer?footer.sh_addr:''}}</p>
							<p class="text-right">{{footer?footer.sh_addr_en:''}}</p>
							<!-- <p class="text-right">PuTuo District, Shanghai</p> -->
							<p class="text-right qrcodebox"><img :src="footer?baseUrl+footer.sh_qrcode:''" class="qrcode"></p>
							<p class="text-right qrcode1txt">扫描二维码</br>关注翼飞客智能科技</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footright">
							<p class="text-left beijing">北京公司</p>
							<p class="text-left">{{footer?footer.bj_addr:''}}</p>
							<p class="text-left">{{footer?footer.bj_addr_en:''}} </p>
							<!-- <p class="text-left">Chaoyang District, Beijing</p> -->
							<p class="text-left qrcodebox"><img :src="footer?baseUrl+footer.bj_qrcode:''" class="qrcode"></p>
							<p class="text-left qrcode2txt">扫描二维码</br>关注易景堂数字科技</p>
						</div>
					</div>
					<div class="mobileQrcode">
						<img :src="footer?baseUrl+footer.sh_qrcode:''" style="margin-right: 15px;"/>
						<img :src="footer?baseUrl+footer.bj_qrcode:''"style="margin-left: 15px;"/></br>
						<p class="text-center" style="margin-right: 15px;">扫描二维码</br>关注翼飞客智能科技</p>
						<p class="text-center" style="margin-left: 15px;">扫描二维码</br>关注易景堂数字科技</p>
					</div>
				</div>
				<div class="blackTxt">{{siteInfo?siteInfo.copyright:''}}</div>
			</section>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="frontend/js/modernizr-2.6.2.min.js"></script>
		<script type='text/javascript' src='frontend/js/masterslider.min.js'></script>
		<script type='text/javascript' src='frontend/js/jquery.easing.min.js'></script>

		<script type="text/javascript">
			let myVue = new Vue({
				el: '#app',
				data() {
					return {
						title: '我的天',
						showBaner: true,
						pageData: null,
						slider: [],
						companyInfo: null,
						menu: [],
						domain: '',
						footer: null,
						siteInfo: null,
						baseUrl: '',
						industry: {},
						DateStrList: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
						Detail: null,
						chooseIndex: 0,
						sliderSb: null,
						id: '',
					}
				},
				created() {
					this.id = this.GetQueryString('id')
					axios.post('http://awboot.dbassets.cn/api.php/Newtem/index').then(res => {
						if (res.data.code == 1) {
							console.log(res.data)
							let data = res.data.data
							this.baseUrl = data.site_info.domain
							this.pageData = data
							this.companyInfo = data.company_info
							this.menu = data.menu
							this.footer = data.footer
							this.siteInfo = data.site_info
						}
					})
					axios.post('http://awboot.dbassets.cn/api.php/content/' + this.id).then(res => {
						if (res.data.code == 1) {
							console.log(res.data)
							this.industry = res.data.data
							this.Detail = this.industry
							this.slider = this.getBanner(this.industry.pics)
							setTimeout(() => {
								this.reload(this.slider)
							}, 500)
							// this.getDetail(this.industry[0].scode)
						}
					})



				},
				methods: {
					toPage(url) {
						if (url == 'toFooter') {
							this.scrollToFooter()
						} else {
							location.href = url + '.html'
						}
					},
					scrollToFooter() {
						$('html,body').animate({
							scrollTop: $('.footer').offset().top
						}, 500);
					},
					GetQueryString(name) {
						var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
						var r = window.location.search.substr(1).match(reg);
						if (r != null) return unescape(r[2]);
						return null;
					},
					changeIndex(index) {
						$('#masterslider').html('')
						this.chooseIndex = index
						this.Detail = this.industry[this.chooseIndex]
						this.slider = []
						this.slider = this.getBanner(this.industry[this.chooseIndex].pics)
						this.reload(this.slider)
						setTimeout(() => {
							this.reload()
						}, 1000)
					},
					getBanner(str) {
						// console.log(str)
						let arr = []
						if (str) {
							arr = str.split(',')
							// console.log(str)
						}

						return arr
					},
					getDetail(id) {
						this.mvList = []
						axios.post('http://awboot.dbassets.cn/api.php/list/' + id).then(res => {
							if (res.data.code == 1) {
								console.log(res.data)
								this.Detail = res.data.data

							}
						})
					},
					getDate(date) {
						// console.log(date)
						let obj = null
						if (date) {
							let time = new Date(date)
							obj = {}
							obj.date = time.getDate() < 10 ? '0' + time.getDate() : time.getDate()
							obj.str = this.DateStrList[time.getMonth()]
						}
						console.log(obj)
						return obj
					},
					sipwer() {
						this.pageData = 1
					},
					toUrl(url) {
						if (url) {
							location.href = url
						}
					},
					reload(list) {
						let listB = list
						// console.log(listB)
						let baseUrl = this.baseUrl
						var sliderSb = new MasterSlider()
						sliderSb.control('arrows');
						sliderSb.control('scrollbar', {
							dir: 'v'
						});
						sliderSb.control('thumblist', {
							autohide: false,
							dir: 'h',
							arrows: true
						});
						for (let i in listB) { //将数据先动态加载
							// console.log(i,listB.length)
							var strlist = '<div class="ms-slide">' +
								'<img src="images/loading-2.gif" data-src="' + baseUrl + listB[i] + '" alt="lorem ipsum dolor sit"/>' +
								'<img class="ms-thumb" src="' + baseUrl + listB[i] + '" alt="thumb" />' +
								'</div>';
							$('#masterslider').append(strlist);
							if (i == listB.length - 1) {
								sliderSb.setup('masterslider', {
									width: 1200,
									height: 800,
									space: 3,
									view: 'basic'
								});
							}
						}

					}
				}
			})

			$('document').ready(function() {

				// var slider = new MasterSlider();
				// slider.setup('masterslider' , {
				//     width:600,
				//     height:450,
				//     space:3,
				//     view:'basic'
				// });
				// slider.control('arrows'); 
				// slider.control('scrollbar' , {dir:'h'});  
				// slider.control('thumblist' , {autohide:false ,dir:'v',arrows:true});

			});
		</script>

	</body>
</html>
